@model Demo.Domain.Product

@{
    ViewData["Title"] = "Add";
}
<partial name="_LoginPartial" />
<hr />
    <h3 style="color:rgb(114, 76, 150);" class="text-center">اضافه کردن محصول</h3>
    <div class="row">
        <div class="col-md-4">
            <form action="#" method="post">
                  <div class="container mt-3">

                            <label for="Title" class="form-label">عنوان:</label>
                            <input type="text" class="form-control" id="Title" name="Title" value="@Model.Name">
                        </div>
                        <div class="mb-3">
                            <label for="Descreption" class="form-label">توضیحات:</label>
                            <input type="text" class="form-control" id="Descreption" name="Descreption" value="@Model.Description">
                        </div>
                        <div class="mb-3">
                            <label for="ImgUrl" class="form-label">قیمت:</label>
                            <input type="text" class="form-control" id="price" name="ImgUrl" value="@Model.Price">
                        </div>
                        <div class="mb-3">
                            <label for="Content" class="form-label">تصویر :</label>
                            <input type="text" class="form-control" id="img" name="Content" value="@Model.Medias">
                <div class="form-group">
                    <button type="submit" value="اضافه کردن" class="btn btn-outline-light" style="background-color:lightgreen"></button>
                </div>
            </form>
        </div>
    

