@{
    ViewData["Title"] = "About";
}
<partial name="_LoginPartial" />
<hr />
<div class="site-blocks-cover inner-page" style="background-image: url(https://piltanshop.com/wp-content/uploads/2021/05/Canva-Makeup-products-and-decorative-cosmetics-on-color-background-flat-lay.-Fashion-and-beauty-blogging-concept.-Top-view.jpg);">
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-7 mx-auto align-self-center">
            <div class=" text-right">
                <h2 style="color: rgb(38, 4, 70);">درباره ما</h2>
                <p style="color: rgb(97, 51, 141);">بیوتی شاپ مریماه با تنوعی بالغ بر 20 هزار کالای آرایشی بهداشتی امکان انتخاب بهترین محصولات از مجموعه کاملی از برترین برندهای ایرانی و بین المللی فراهم آورده است و با ارائه تصویر و توضیحات تخصصی و دقیق درباره هر کالا، ثبت نظرات کاربران و امکان بازگشت کالا، انتخاب را برای مشتری آسان نموده است و روزانه محصولات در بسته بندی های جذاب و زیبا در زمان درخواست شده، برای مشتریان سراسر کشور ارسال می شود. ما در تمامی قدم های انتخاب درست کالا و خرید تا اطمینان از صحت کالای دریافت شده و کسب رضایت مشتری، در کنار شما هستیم و امور مشتریان ما همواره آماده پاسخگویی و رفع مشکلات همراهان خود است.</p>
            </div>
        </div>
    </div>
</div>
		</div>
<!-- End Heading Section -->
<!-- Start Content Section -->
<div class="container">
    <div class="row mb-5">
        <div class="col-md-6">
            <div class="block-16">
                <figure>
                    <img src=https://blog.shahremun.com/wp-content/uploads/2020/01/photo_%DB%B2%DB%B0%DB%B2%DB%B0-%DB%B0%DB%B1-%DB%B0%DB%B9_%DB%B1%DB%B1-%DB%B2%DB%B5-%DB%B2%DB%B2.jpg"; alt="Image placeholder" class="img-fluid rounded">
                </figure>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="site-section-heading pt-3 mb-4">
                <h2 style="color: rgb(37, 7, 87);"> مریماه چه می کند؟</h2>
                <h5>  مریماه از  سال 97 کار تخصصی خودش را شروع کرد و با مشاوره از اشخاص خبره در این حوزه توانست بهترین محصولات اورجینال از خارج کشور و بهترین مارک ایرانی را به فروش بگذارد.مریماه توانست در 2 سال مشتریان خودش را جذب  و ثابت کند.</h5>
            </div>
        </div>
    </div>
</div>
<!-- End Content Section -->
<!-- Start Features Section -->
<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck text-info"></span>
                </div>
                <div class="text">
                    <h2>ارسال رایگان</h2>
                    <p> فروشگاه مریماه تمام محصولاتش را به تمام نقاط  برای شما رایگان ارسال میکند.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2 text-info"></span>
                </div>
                <div class="text">
                    <h2> ضمانت بازگشت</h2>
                    <p> شما میتوانید بعد از سفارش و رسیدن محصول اگر از آن راضی نبودید آن را در 7 روز به ما برگردانید.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help text-info"></span>
                </div>
                <div class="text">
                    <h2>پشتیبانی شبانه روزی</h2>
                    <p>شما در هر زمان و هر جا میتوانید با مشاوران ما در ارتباط باشید.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section" style="background-color: rgb(249, 246, 252);" data-aos="fade">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>مشاوران ما</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="https://haal.ir/Storage/Profile/ProfilePic/819a3e50-f9e3-43bb-87f1-978cad40531e.jpg" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4" style="color:rgb(114, 76, 150);">مژده حاتمی</h3>
                            <p class="block-38-subheading">مشاور در خرید و انتخاب محصولات آرایشی و بهداشتی<hr></p>
                        </div>
                        <div class="block-38-body">
                            <p style="color: rgb(40, 7, 71);">شماره تماس:09123654187<br>اینستاگرام:mojde_hatami</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYUoIQFOFCD5APN8K4SxlJfjhw0ZfwRij4rcKBgcUHaFE3BM3D07Ov5Ng6r41kQCG7BRo&usqp=CAU" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4" style="color:rgb(114, 76, 150);">دکتر مهسا روحی</h3>
                            <p class="block-38-subheading">متخصص پوست و مو<hr></p>
                        </div>
                        <p style="color: rgb(40, 7, 71);">شماره تماس:09191234807<br>اینستاگرام:mahsarouhi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
